html {
    scrollbar-width: none; /* Firefox */
}

body {
    /* Ocultar barra de desplazamiento en WebKit (Chrome, Safari, Edge) */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
    display: none; /* WebKit (Chrome, Safari, Edge) */
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Gilda Display", serif;
}

/* Estilos para el botón */
.button-group {
    width: 197px;
    height: 32px;
    opacity: 1;
    border-radius: 40px !important;
    background-color: #E8C889;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    padding: 0px !important;
    
    /* Estilos de texto */
    font-family: 'Geomanist', sans-serif !important;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFF !important; 
    align-items: center;
    justify-content: center;
    
    transition: none !important;
    transform: none !important;
}

/* Estilos para el enlace contenedor */
.button-link {
    text-decoration: none;
    display: inline-block;
}

/* Eliminar estilos por defecto del botón */
.button-group:hover, 
.button-group:focus {
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    transform: none;
}

/* Estilos para botón Contacto */
.button-contact {
    width: 304px;
    height: 54px;
    opacity: 1;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid #E8C889;
    cursor: pointer;
    padding: 0px;
    
    /* Estilos de texto */
    font-family: 'Geomanist', sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0.11em;
    text-align: center;
    color: #FFFF; 
    align-items: center;
    justify-content: center;
    
    transition: none !important;
    transform: none !important;
}

header {
    max-width: 100% !important;
}

main {
    max-width: 100% !important;
}

footer {
    max-width: 100% !important;
}

/* Asegurar que la fuente y el box-sizing se apliquen a todo el navbar */
.navbar, 
.navbar *,
.nav-links,
.nav-links * {
    font-family: 'Montserrat', sans-serif !important; 
    box-sizing: border-box !important;
}